In [2]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from scipy import stats

/Users/roman/py2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [7]:
df = pd.read_csv("./", sep=' ')

In [8]:
df

    D0  D60
0   57   62
1   27   49
2   32   30
3   31   34
4   34   38
5   38   36
6   71   77
7   33   51
8   34   45
9   53   42
10  36   43
11  42   57
12  26   36
13  52   58
14  36   35
15  55   60
16  36   33
17  42   49
18  36   33
19  54   59
20  34   35
21  29   37
22  33   45
23  33   29

In [ ]:
X = df[["carat", "depth", "table", "y", "x", "z"]]
y = df.price

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, 
    y,
    test_size=0.25,
    random_state=1
)