In [104]:
import pandas as pd
import numpy as np
from scipy import stats

In [5]:
df = pd.read_csv("./_406722fb5acb0dcf35dadc8d3421e4f7_illiteracy.txt", sep='\t')

In [7]:
m_i = df.Illit.mean()
m_b = df.Births.mean()

In [19]:
(
    (df.Illit - m_i)*(df.Births - m_b)
).mean()/df.Births.std(ddof=0)/df.Illit.std(ddof=0)

0.7686630271151789

In [15]:
df.corr(method='pearson')

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [58]:
# tmp = pd.DataFrame(
#     {
#         'A':[1,1,2,2,3,3],
#         'B':[3,3,3,9,9,9]
#     }
# ).assign(
#     rk_A=tmp.A.rank(method='dense'),
#     rk_B=tmp.B.rank(method='dense')
# )

# tmp

In [61]:
n = df.shape[0]
avg_rnk = float(n+1)/2
df['rk_i'] = df.Illit.sort_values().rank(method='dense')
df['rk_b'] = df.Births.sort_values().rank(method='dense')

((df.rk_i - avg_rnk)*(df.rk_b - avg_rnk) / ((n**3 - n)/12.)).sum()

0.6954593071560163

In [24]:
df.corr(method='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [121]:
df = pd.read_csv("./water.txt", sep='\t')

In [122]:
df.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [123]:
df.corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [69]:
df[df.location=='North'].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [70]:
df[df.location=='South'].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [119]:

a = 203 #часто женщины
b = 239 #часто мужчины
c = 718 #редко женщины
d = 515 #редко мужчины

c2 = (a*d - b*c) / ((a+b)*(a+c)*(b+d)*(c+d))**.5
c2

-0.10900237458678963

In [76]:
stats.chi2_contingency([[a,b],[c,d]])

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[243.03402985, 198.96597015],
        [677.96597015, 555.03402985]]))

In [94]:
p1 = float(b)/float(b+d) #мужчины
p2 = float(a)/float(a+c) #жещины
n1 = float(b+d) #
n2 = float(a+c) #
P = (n1*p1+n2*p2)/float(n1+n2)

In [95]:
t = (p2 - p1)/(P*(1-P)*(1./(a+c)+1./(b+d)))**.5

In [120]:
p1 - p2 - stats.norm.ppf(1. - .05/2.)*(p1*(1-p1)/n1 + p2*(1-p2)/n2)**.5

0.053905233215813156

In [99]:
stats.norm.cdf(t)

4.076726544786647e-06

In [101]:
stats.chi2_contingency(
    [
        [197., 111., 33.],
        [382., 685., 331.],
        [110., 342., 333.]
    ]
)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [105]:
np.sum(
    [
        [197., 111., 33.],
        [382., 685., 331.],
        [110., 342., 333.]
    ]
)

2524.0

In [106]:
min(5,3)

3

In [111]:
V = (293.68311039689746/2524.0/(min(3,3)-1))**.5
V

0.2412013934500338